a {
  text-decoration: none;
  color: inherit;
}
header {
  width: 100%;
  height: 100px;
  background-color: #160751;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 15px;
}
footer {
  text-align: center;
  color: #7d7d7d;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.boardName {
  width: 800px;
  font-size: 30px;
  padding: 10px 0;
  font-weight: bold;
  color: #160751;
}
table {
  text-align: center;
  border-collapse: collapse;
}
td {
  padding: 5px 0;
}
td:nth-child(1) {
  text-align: left;
  width: 60%;
}
td:nth-child(4) {
  text-align: right;
  width: 10%;
}
tr:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.board {
  width: 800px;
}
.forum {
  padding-bottom: 20px;
}
.forumTopTable {
  width: 800px;
}
.qnaNdata {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.qnatable,
.datatable {
  width: 380px;
}
.mainBoardName {
  font-size: 20px;
  font-weight: bold;
  color: #160751;
}
.boardinfo,
.commentinfo {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.boardinfo {
  width: 800px;
}
.title {
  width: 800px;
  font-size: 25px;
  font-weight: 500;
  color: #160751;
  padding: 10px;
}
.content {
  width: 800px;
  border-top: #7d7d7d 1px solid;
  border-bottom: #7d7d7d 1px solid;
}
.commenttable {
  width: 800px;
  margin: 10px 0;
}
.commentArea {
  width: 800px;
}
.inputcomment {
  width: 800px;
  height: 100px;
}
.inputcommentbtn {
  margin: 10px 0;
  float: right;
}
.replycommentlist {
  width: 780px;
  margin: 10px 0;
  margin-left: 20px;
}
.btnbox {
  width: 800px;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.userpic {
  width: 100px;
  height: 100px;
  background-color: #7d7d7d;
}
.inputtitle {
  width: 800px;
  height: 30px;
}
.inputcontent {
  width: 800px;
  height: 400px;
}

