<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT커뮤니티 게시글 목록</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div class="logo">로고영역</div>
      <a href="/board/forum/paging">포럼게시판</a>
      <a href="#">질문게시판</a>
      <a href="#">자료게시판</a>
      <div class="search">검색창</div>
      <div class="darkmode">다크모드</div>
      <div class="login">로그인</div>
    </header>
    <div class="maincontainer">
      <div class="boardName">포럼게시판</div>
      <table class="forumList">
        <tr th:each="forum:${forumList.content}">
<!--          (page=${forumList.number+1}-->
          <td><a th:href="@{|/board/forum/${forum.postNo}|}" th:text="${forum.title}"></a></td>
          <td th:text="${forum.author}"></td>
          <td th:text="*{#temporals.format(forum.postDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
          <td th:text="${forum.views}"></td>
        </tr>
      </table>
      <div class="btnbox">
        <button class="create" type="button" onclick="writeForum()">글쓰기</button>
      </div>
        <!-- 페이지 번호 링크(현재 페이지는 숫자만) for(int page=startPage; page<=endPage; page++)-->
      <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
          <!-- 현재페이지는 링크 없이 숫자만 -->
        <span th:if="${page == forumList.number + 1}" th:text="${page}"></span>
<!--         현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
        <span th:unless="${page == forumList.number + 1}">
            <a th:href="@{/board/forum/paging(page=${page}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
        </span>
      </span>
        <div>
            <form th:action="@{/board/forum/paging}" method="get">
                <input type="text" name="searchKeyword">
                <button type="submit">검색</button>
            </form>
        </div>
    </div>
    <footer>Copyright ⓒ 2023 TestPage. All rights reserved.</footer>
  </body>
  <script>
    const writeForum = () => {
      location.href="/board/forum/write";
    }
  </script>
</html>
