<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT커뮤니티 게시글 쓰기</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div class="logo">로고영역</div>
      <a href="/board/forum/paging">포럼게시판</a>
      <a href="#">질문게시판</a>
      <a href="#">자료게시판</a>
      <div class="search">검색창</div>
      <div class="darkmode">다크모드</div>
      <div class="login">로그인</div>
    </header>
    <div class="maincontainer">
      <div class="boardName">포럼게시판</div>
      <form class="boardwrite" action="/board/forum/update" method="post" name="forumUpdate" enctype="multipart/form-data">
        <!-- 여기부터 눈에 보이지 않는 영역입니다. 카테고리 번호(게시판 선택) 영역 -->
        <input class="postNo" type="hidden" placeholder="게시판 번호" name="postNo" th:value="${forumUpdate.postNo}" />
        <input class="views" type="hidden" placeholder="조회수" name="views" th:value="${forumUpdate.views}" />
        <div>
          <!-- 여기까지 눈에 보이지 않는 영역입니다. 카테고리 번호(게시판 선택) 영역 -->
        </div>
        <div>
          <input type="text" name="category" placeholder="카테고리" th:value="${forumUpdate.category}" readonly/>
          <input type="text" name="author" placeholder="작성자" th:value="${forumUpdate.author}" readonly />
        </div>
        <div>
          <input class="inputtitle" type="text" name="title" placeholder="제목" th:value="${forumUpdate.title}"/>
        </div>
        <div>
          <textarea class="inputcontent" type="text" name="content" placeholder="내용" th:text="${forumUpdate.content}"></textarea>
        </div>
        <div>
          <input class="fileAttached" type="hidden" placeholder="파일첨부여부" name="fileAttached" th:value="${forumUpdate.fileAttached}" />
          <input class="originalFileName" type="hidden" placeholder="실제파일이름" name="originalFileName" th:value="${forumUpdate.originalFileName}" />
          <input class="storedFileName" type="hidden" placeholder="서버저장용파일이름" name="storedFileName" th:value="${forumUpdate.storedFileName}" />
          <img th:src="@{|/upload/${forumUpdate.storedFileName}|}" name="storedFileName" height="200">
        </div>
        <button type="submit">수정</button>
      </form>
    </div>
    <footer>Copyright ⓒ 2023 TestPage. All rights reserved.</footer>
  </body>
</html>
