<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT커뮤니티 웰컴페이지</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div class="logo">로고영역</div>
      <a href="/board/forum/paging">포럼게시판</a>
      <a href="#">질문게시판</a>
      <a href="#">자료게시판</a>
      <div class="search">검색창</div>
      <div class="darkmode">다크모드</div>
      <div class="login">로그인</div>
    </header>
    <div class="maincontainer">
      <div class="forum">
        <div class="mainBoardName">포럼게시판 인기글</div>
        <table class="forumTopTable">
          <tr>
            <td>제목1</td>
            <td>은별</td>
            <td>2023-05-28</td>
            <td>1</td>
          </tr>
          <tr>
            <td>제목2</td>
            <td>채연</td>
            <td>2023-05-28</td>
            <td>3</td>
          </tr>
          <tr>
            <td>제목3</td>
            <td>정혜</td>
            <td>2023-05-28</td>
            <td>5</td>
          </tr>
          <tr>
            <td>제목4</td>
            <td>은별</td>
            <td>2023-05-28</td>
            <td>2</td>
          </tr>
          <tr>
            <td>제목5</td>
            <td>정혜</td>
            <td>2023-05-28</td>
            <td>23</td>
          </tr>
        </table>
      </div>
      <div class="qnaNdata">
        <div class="qnaArea">
          <div class="mainBoardName">질문게시판</div>
          <table class="qnatable">
            <tr>
              <td>제목1</td>
              <td>은별</td>
              <td>1</td>
            </tr>
            <tr>
              <td>제목2</td>
              <td>채연</td>
              <td>3</td>
            </tr>
            <tr>
              <td>제목3</td>
              <td>정혜</td>
              <td>5</td>
            </tr>
            <tr>
              <td>제목4</td>
              <td>은별</td>
              <td>2</td>
            </tr>
            <tr>
              <td>제목5</td>
              <td>정혜</td>
              <td>23</td>
            </tr>
          </table>
        </div>
        <div class="dataArea">
          <div class="mainBoardName">자료게시판</div>
          <table class="datatable">
            <tr>
              <td>제목1</td>
              <td>은별</td>
              <td>1</td>
            </tr>
            <tr>
              <td>제목2</td>
              <td>채연</td>
              <td>3</td>
            </tr>
            <tr>
              <td>제목3</td>
              <td>정혜</td>
              <td>5</td>
            </tr>
            <tr>
              <td>제목4</td>
              <td>은별</td>
              <td>2</td>
            </tr>
            <tr>
              <td>제목5</td>
              <td>정혜</td>
              <td>23</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <footer>Copyright ⓒ 2023 TestPage. All rights reserved.</footer>
  </body>
</html>
