<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IT커뮤니티 마이페이지</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <div class="logo">로고영역</div>
      <a href="#">포럼게시판</a>
      <a href="#">질문게시판</a>
      <a href="#">자료게시판</a>
      <div class="search">검색창</div>
      <div class="darkmode">다크모드</div>
      <div class="login">로그인</div>
    </header>
    <div class="maincontainer">
      <form>
        <div>
          <div class="userpic"></div>
          <input class="mypage" type="file" />
        </div>
        <div>abcde@gmail.com</div>
        <div class="password">
          <input
            class="mypage"
            type="password"
            name="password"
            placeholder="PASSWORD 변경"
          />
        </div>
        <div class="password">
          <input
            class="mypage"
            type="password"
            name="password2"
            placeholder="PASSWORD 확인"
          />
        </div>
        <div class="nickname">
          <input
            class="mypage"
            type="text"
            name="nickname"
            placeholder="닉네임"
          />
        </div>
        <div class="introduce">
          <textarea class="mypage">자기소개를 입력해주세요.</textarea>
        </div>
        <button type="submit">수정하기</button>
      </form>
    </div>
    <footer>Copyright ⓒ 2023 TestPage. All rights reserved.</footer>
  </body>
</html>
